<!DOCTYPE html>
<html>
<head>
    <title>Create Post</title>
</head>
<body>
    <h1>Create New Post</h1>

    <form action="/posts" method="POST">
        <div>
            <label>Title:</label><br>
            <input type="text" name="title" required>
        </div>
        <br>
        <div>
            <label>Author:</label><br>
            <input type="text" name="author" required>
        </div>
        <br>
        <div>
            <label>Content:</label><br>
            <textarea name="content" rows="6" cols="40" required></textarea>
        </div>
        <br>
        <button type="submit">Submit Post</button>
    </form>

    <br>
    <a href="/posts">Back to Posts List</a>
</body>
</html>